@font-face {
    font-family: pkmn;
    src: url(PKMN\ RBYGSC.ttf);
}

body {
    font-family: pkmn;
    color: black;
    background-color: #f4f9f5;

}

h1 {
    align-self: flex-start;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    border-style: double;
    border-width: 6px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

ul {
    padding: 0;
    margin: 0;
}

figure {
    display: grid;
    display: flex;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

li div {
    border: solid 2px transparent;
}

li div:hover {
    border-color: black;
}

li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}


.hidden {
    display: none;
}